*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ddddde;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */
.sidebar{
    width:250px;
    background:#0c2d63;
    color:rgb(196, 198, 241);
    padding:20px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    margin-bottom:30px;
}

.nav{
    list-style:none;
}

.nav li{
    margin:15px 0;
}

.nav a{
    color:white;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:6px;
    transition:0.3s;
}

.nav a:hover{
    background:#334155;
}

/* Main Content */
.main{
    flex:1;
    padding:20px;
}

.positive{
    color:green;
    font-weight:bold;
}

.negative{
    color:red;
    font-weight:bold;
}

/* Form Card */
.chart-card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.chart-card h2{
    margin-bottom:20px;
}

.article-form{
    display:grid;
    gap:15px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group label{
    margin-bottom:5px;
    font-weight:600;
}

.form-group input,
.form-group select,
.form-group textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
    border-color:#2563eb;
}

.description-group{
    display:flex;
    flex-direction:column;
}

.description-group label{
    margin-bottom:5px;
    font-weight:600;
}

.description-group input,
.description-group select,
.description-group textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.description-group input:focus,
.description-group select:focus,
.description-group textarea:focus{
    border-color:#2563eb;
}

.save-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.save-btn:hover{
    background:#1d4ed8;
}

.asset-container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.asset-label {
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.upload-box {
    flex: 1;
    min-height: 320px;
    border: 2px dashed #cfd6df;
    border-radius: 12px;
    background: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    transition: 0.3s ease;
}

.upload-box.dragover {
    border-color: #4a90e2;
    background: #eef6ff;
}

.upload-icon {
    width: 80px;
    height: 80px;
    background: #dbeafe;
    color: #2563eb;
    font-size: 36px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.upload-box h2 {
    margin-bottom: 10px;
    color: #1f2937;
}

.upload-box p {
    color: #6b7280;
    margin-bottom: 20px;
}

.upload-box span {
    margin-bottom: 20px;
    color: #6b7280;
}

.file-input-wrapper input {
    padding: 10px;
}

#fileName {
    margin-top: 15px;
    font-weight: 600;
    color: #2563eb;
}